.jumbotron{
	font-family: serif;
}
.container{
	background-color: white;
	border-radius: 2%;
	padding: 2%;
}

.img-thumbnail {
	margin: 5px;
}
#social-media-buttons{
	text-align: center;
}
.btn:hover{
	color: white;
	background-color: black;
}
h1{
	font-variant: small-caps;
}
footer{
	font-variant: small-caps;
}
